<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" [routerLink]="['/dash']"><img src="../../../../assets/1-removebg-preview.png" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Alterna navegação">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" [routerLink]="['/profile']" routerLinkActive="router-link-active">Perfil</a>
            <a class="nav-item nav-link active" [routerLink]="['/team']" routerLinkActive="router-link-active">Escalar Time</a>
            <a class="nav-item nav-link active" [routerLink]="['/ranking']" routerLinkActive="router-link-active">Ranking Geral</a>
            <a class="nav-item nav-link active" [routerLink]="['/ranking/match']" routerLinkActive="router-link-active">Ranking Rodada</a>
            <a class="nav-item nav-link active" [routerLink]="['/login']" (click)="logout()" routerLinkActive="router-link-active">Sair</a>
        </div>
    </div>
</nav>