<div *ngIf="userAllData" class="card" style="margin: 1rem;">
    <div class="card-body">
        <h4 class="card-title">{{userAllData.name}} <img src="../../../../assets/logo-02-removebg-preview.png" alt=""></h4>
        <h6 class="card-subtitle mb-2 text-muted">Santa Cruz</h6>
        <hr>
        <div class="container">
            <div class="row">
                <div class="col">
                    <span class="card-subtitle mb-2 text-muted">Rodada</span>
                    <small>{{userAllData.lastMatch}}</small>
                </div>
                <div class="col">
                    <span class="card-subtitle mb-2 text-muted">Total</span>
                    <small>{{userAllData.totalPoints}}</small>
                </div>
            </div>
        </div>
        <hr>
        <button [routerLink]="['/team']" class="card-link submit">Escalar Time</button>

    </div>
</div>