<div class="card bg-light mb-3" style="margin: 1rem;">
    <div class="card-header"><span>20 pontos</span> <img src="../../../../assets/4-removebg-preview.png" alt=""></div>
    <div class="card-body">
        <h5 class="card-title" style="display: inline-block;">Gabriel</h5>
        <span style="float: right;">100 pts</span>
        <hr>
        <div class="team">
            <small>Joao - 20</small>
            <small>Joao - 20</small><br>
            <small>Joao - 20</small>
            <small>Joao - 20</small><br>
            <small>Joao - 20</small>

        </div>
    </div>
</div>